* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

main {
  height: calc(100% - 90px);
  background: #ccc;
}

footer {
  height: 90px;
  background-color: #282828;
  z-index: 999;
}


/* ----- SECTION GRID SX ----- */

#logo-spotify {
  height: 50px;
}

#home, #cerca, #libreria {
  height: 24px;
  width: 24px;
}

.sx-grid {
  background: black;
  float: left;
  width: 230px;
  height: 100%;
  overflow-y: hidden;
  /* TODO: min-height? */
}

.sx-grid ul li {
  margin: 15px;
  text-transform: uppercase;
  list-style: none;
}

/* ----- SECTION GRID SX ----- */


/* ----- MAIN SECTION - BOX SONGS CENTRALI ----- */

.main-section {
  background-color: #141922;
  height: 100%;
  overflow-y: auto;
}

.header-upgrade {
  height: 100px;
  width: 100%;
  background-color: rgba(0,0,0,.4);
}

.navbar-main {
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.navbar-main ul li {
  list-style: none;
  display: inline;
  padding: 10px 40px;
}

/* ----- MAIN SECTION - BOX SONGS CENTRALI ----- */
