* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

main {
  height: calc(100% - 90px);
  background: #ccc;
}

footer {
  height: 90px;
  background-color: #282828;
  z-index: 999;
}


/* ----- SECTION GRID SX ----- */

#logo-spotify {
  height: 50px;
}

#home, #cerca, #libreria {
  height: 24px;
  width: 24px;
}

.sx-grid {
  background: black;
  float: left;
  width: 230px;
  height: 100%;
  overflow-y: hidden;
  /* TODO: min-height? */
}

.sx-grid ul li {
  margin: 15px;
  text-transform: uppercase;
  list-style: none;
}

/* ----- SECTION GRID SX ----- */


/* ----- MAIN SECTION - BOX SONGS CENTRALI ----- */

.main-section {
  background-color: #141922;
  height: 100%;
  overflow-y: auto;
}

.header-upgrade {
  width: calc(100% - 230px);
  height: 90px;
  background-color: rgba(0,0,0,.4);
  position: fixed;
  text-align: right;
  padding-right: 50px;
  line-height: 90px;
  font-weight: bold;
}

.header-upgrade a {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}

.navbar-main {
  margin-top: 110px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.navbar-main ul li {
  list-style: none;
  display: inline;
  padding: 10px 40px;
}

.recently-played {
  display: flex;
}
.main-section .songs {
  width: 300px;
  margin: 15px;
  display: inline-block;
}

/* ----- MAIN SECTION - BOX SONGS CENTRALI ----- */

/* ----- REPRODUCTION BAR ----- */

.reproduction-bar {
  margin-left: 20px;
  display: flex;
}

.left-bar img {
  height: 50px;
}
